body{
    background-color: #9B9B9B;
    text-align: center;
  }
  
  #img-div {
    background-color: #E5E5E5;
    padding: 10px;
    margin: 0;
  }
  
  
  #image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  #img-caption {
    margin: 20px 0px 5px 0px;
    font-size: 15px;
    font-style: italic;
  }
  
  h1 {
    display: block;
    justify-content: center;
  }
  
  p {
    display: block;
    justify-content: center;
  }
  
  #tribute-info {
    display:block;
  }
  
  ul {
    text-align: center;
    /* list-style-type: none; */
    line-height: 1.5;
    
  }